body {
    background: rgb(181, 222, 247);
    font-family: "Roboto", sans-serif;
    margin: 0;
}

main {
    background: rgb(181, 222, 247);
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.hero {
    background-image: url("image1.webp");
    background-size: cover;
    background-position: center;
    margin-left: calc(50% - 50vw);
    width: 100vw;
    height: 400px;
}



h1 {
    font-size: 33px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

p {
    font-size: 20px;
    font-style: italic;
}

section img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px auto;
}

h3,
h4,
h5 {
    font-size: 20px;
}

.phone-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #71aef0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.phone-button img {
    width: 40px;
    height: 40px;
    animation: shake 0.3s infinite;
}

@keyframes shake {
    0%, 70%, 100% {
        transform: rotate(0);
    }

    72% {
        transform: rotate(-20deg);
    }

    74% {
        transform: rotate(20deg);
    }

    76% {
        transform: rotate(-20deg);
    }

    78% {
        transform: rotate(20deg);
    }

    80% {
        transform: rotate(-10deg);
    }

    82% {
        transform: rotate(10deg);
    }

    84% {
        transform: rotate(0);
    }
}

.whatsapp {
    position: fixed;
    right: 20px;
    bottom: 110px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    animation: whatsapp 0.3s infinite;
}

.whatsapp img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

@keyframes whatsapp {
    0%, 100% {
        transform: rotate(0);
    }

    72% {
        transform: rotate(-20deg);
    }

    74% {
        transform: rotate(20deg);
    }

    76% {
        transform: rotate(-20deg);
    }

    78% {
        transform: rotate(20deg);
    }

    80% {
        transform: rotate(-10deg);
    }

    82% {
        transform: rotate(10deg);
    }

    84% {
        transform: rotate(0);
    }
}

footer {
    background: #93bff5;
    padding: 15px 0;
    margin: 0;
}

footer p {
    font-size: 14px;
    font-family: "Times New Roman", serif;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    margin: 5px 0;
}